/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
@keyframes AnimOpacity {
  0% { opacity: 1.0; }
  50% { opacity: 0.6; }
  100% { opacity: 1.0; }
}
:root {
  --tgl-block: block;
}
#InGameHud {
  display: var(--tgl-block);
  width: calc(100%);
  height: 100%;
}
#InGameHud.highlight .background {
  animation-name: AnimOpacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#InGameHud.fade .content {
  opacity: 0;
}
#InGameHud .background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.25);
  opacity: 0;
}
#InGameHud #JetPower,
#InGameHud #JetAltimeter,
#InGameHud #Compass,
#InGameHud #AoA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#InGameHud #AoA {
  top: -2.8%;
  left: 9%;
}
#InGameHud #AoA_Background {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  display: none;
}
