/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
notification-tips {
  position: relative;
  width: calc(var(--viewportWidthRatio) * 19.6354166667vw);
  position: relative;
  background-color: var(--backgroundColorPanel); }
  notification-tips.disappear {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  notification-tips .gameplayTitle {
    padding: calc(var(--screenHeight) * (20px / 2160));
    font-size: var(--fontSizeParagraph);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--backgroundColorPanel); }
  notification-tips .background {
    padding: calc(var(--screenHeight) * (20px / 2160)); }
  notification-tips p {
    line-height: 1.2em;
    font-size: var(--fontSizeParagraph); }
  notification-tips .title {
    font-weight: bold; }
  notification-tips .desc {
    padding-left: calc(var(--viewportWidthRatio) * 0.6510416667vw);
    font-family: var(--font); }

notification-tooltip {
  display: none;
  color: white;
  font-size: calc(var(--fontSizeDefault) * 0.7);
  overflow-wrap: break-word; }
  notification-tooltip .background {
    background-color: rgba(0, 0, 0, 0.4);
    padding: var(--halfMargin);
    position: relative;
    line-height: 1.1;
    left: -50%;
    border: var(--minimalBorderWidth) solid var(--color-white); }

