:root {
  --hud-vis: visible;
  --hud-scale: 50%;
}

#InGameHud {
  visibility: var(--hud-vis);
}

glasscockpit-hsi {
  position: absolute;
  width: calc(var(--hud-scale) * 1.25);
  top:  10%;
  left: 0px;
}

analogic-power,
digital-power {
  position: absolute;
  width: var(--hud-scale);
  height: var(--hud-scale);
  bottom: 0;
}

analogic-altimeter,
digital-altimeter {
  position: absolute;
  width: var(--hud-scale);
  height: var(--hud-scale);
  right: 0;
  bottom: 0;
}
