<link rel="stylesheet" href="./IGM_Waypoint.css" />
<link rel="stylesheet" href="/mCSS/mugzIGMWG.css" />

<script type="text/html" id="IGM_Waypoint_3D_Template">


    <div class="Infos">
        <div class="Top">
            <div class="Name"><p></p></div>

            <div class="Separator"></div>
            <div class="Distance"><p></p></div>
        </div>
        <div class="Status"></div>
    </div>

 

    <div class="Icon"> 
        <!--<icon-element class="Background noBColor" data-url="/icons/Waypoints/Backgrounds/ICON_MAP_ENABLE.svg"></icon-element>-->
        <img class="Background" src="/icons/Waypoints/Backgrounds/ICON_MAP_ENABLE.svg" />

        <icon-element class="Image"></icon-element>
    </div>

    <div class="Altitude"></div>

</script>


<script type="text/html" id="IGM_Waypoint_2D_Template">
       
    <div class="Icon">
        <img class="Image">
    </div>
    <div class="Distance"></div>
    <div class="ArrowContainer">
        <icon-element class="Arrow" data-url="/icons/Waypoints/WorldMap/ICON_MAP_ARROW.svg"></icon-element>
    </div>

</script>

<script type="text/javascript" src="./IGM_Waypoint.js"></script>