/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
:root {
  --tgl-block: block;
  --tgl-flex: flex;
}
igm-gate {
  display: var(--tgl-block);
  width: calc(var(--screenHeight) * (1200px / 1080));
  height: calc(var(--screenHeight) * (140px / 1080));
  overflow: hidden;
}
igm-gate .Text {
  display: var(--tgl-flex);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--screenHeight) * (120px / 1080));
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
