/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --igm-block: block;
  --igm-flex: flex;
}
igm-airtraffic-3d {
  /* Variables */
  --opacity: 0.8; /* Font transparency */
  --scalefactor: 0.75; /* Size factor. 1 - no scale, 0.х - smaller */
  --data-scalefactor: 0.9; /* Size factor for data. 1 - no scale, 0.x - smaller */
  --scalefactor-separator: 0.1;
  --detail-display: flex; /* Draw data block?. Yes - flex, No - none */
  --separator-display: block; /* Draw separator?. Yes - block, No - none */
  --detail-separator-spacingfactor: 0.2;
  --font-size: calc(var(--fontSizeParagraph) * var(--scalefactor)); /* Font size */
  --color: #ffffff; /* Nameplate color */
  --data-color: #696969; /* Data color */
  --shadow-color: #424242; /* Text shadow and separator color */
  font-family: Roboto; /* Change fontface */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(var(--scalefactor) * var(--screenHeight) * (450px / 2160));
  height: calc(var(--scalefactor) * var(--screenHeight) * (120px / 2160));
  overflow: hidden;
  margin: 1px;
  opacity: var(--opacity);
}
igm-airtraffic-3d .name {
  display: var(--igm-block);
  width: 100%;
  /* padding: calc(var(--scalefactor) * var(--screenHeight) * (2px / 2160)) 0 calc(var(--scalefactor) * var(--screenHeight) * (2px / 2160)) 0; */
  font-size: var(--font-size);
  font-weight: bold;
  text-align: center;
  text-shadow:
   -1px -1px 0 var(--shadow-color),
    0   -1px 0 var(--shadow-color),
    1px -1px 0 var(--shadow-color),
    1px  0   0 var(--shadow-color),
    1px  1px 0 var(--shadow-color),
    0    1px 0 var(--shadow-color),
   -1px  1px 0 var(--shadow-color),
   -1px  0   0 var(--shadow-color);
}
igm-airtraffic-3d .data {
  display: var(--igm-flex);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--data-color);
  font-size: calc(var(--font-size) * var(--data-scalefactor));
  opacity: 0;
}
igm-airtraffic-3d.detailed .data {
  display: var(--igm-flex);
  opacity: var(--opacity);
}
igm-airtraffic-3d .data span {
  white-space: nowrap;
}
igm-airtraffic-3d .data-item {
  display: var(--detail-display);
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
igm-airtraffic-3d .data-item > span.unit {
  text-transform: none;
}
igm-airtraffic-3d .data-item[data-type="PLANE_TYPE"] {
  width: 50%;
  box-align: right;
  justify-content: flex-end;
}
igm-airtraffic-3d .data-item[data-type="PLANE_ALTITUDE"] {
  width: 50%;
  box-align: left;
  justify-content: flex-start;
  text-transform: lowercase;
}
igm-airtraffic-3d .data .separator {
  display: var(--separator-display);
  width: var(--minimalBorderWidth);
  height: calc(var(--scalefactor) * var(--screenHeight) * (40px / 2160));
  opacity: var(--opacity);
  background: var(--shadow-color);
  margin: 5px;
}
igm-airtraffic-3d .data.condensed {
  justify-content: space-between;
}
igm-airtraffic-3d .data.condensed .separator {
  margin: 5px;
}
